{{!-- views/auth/login.hbs --}}
<div class="login-box">
  <h2>Potilaan kirjautuminen</h2>

  <form action="/auth/login" method="POST">

    <label class="labeL"> Sähköposti
      <input type="email" name="email" placeholder="matti@matti.com" />
    </label>

    <label class="labeL">Salasana
      <input type="password" name="password" placeholder="********" />
    </label>
  <span></span>
      <span></span>
      <span></span>
      <span></span>
    <button type="submit">Kirjaudu</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

    <div id="logbottom">
    <p class="uusi"><a href="/auth/register">Luo uusi käyttäjä</a></p>
        <p class="message"><a href="#">Unohtuiko salasana?</a></p>
    </div>
    {{#if isLoginPage}}
      <script src="/js/loader.js"></script>
    {{/if}}
  </form>
</div>
