{{!-- views/auth/loginHoitaja.hbs --}}


 <div class="login-box">
  <h2>Hoitajan kirjautuminen</h2>

  <form action="/auth/login" method="POST">

    <label class="labeL"> Username
      <input type="text" name="username" placeholder="Matti" />
    </label>

    <label class="labeL">Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <button type="submit">Login</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

    <div id="logbottom">
        <p class="message"><a href="#">Unohtuiko salasana?</a></p>
    </div>
  </form>
</div>