 <header class="header" id="header">
        <nav class="nav container">
            <a href="/" class="nav__logo">Balanssi</a> 
            <a href="/auth/loginHoitaja" class="nav__link_">Hoitajan kirjautuminen</a>
          
        </nav>
</header>