<head>
  <title>Balanssi</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link id="stylesheet" rel="stylesheet" href="/css/index.css">
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
</head>

<body>

  <header class="header" id="header">
    <nav class="navbar">
      <div class="container">
        <a class="navbar-brand" href="/">
          <iconify-icon icon="mdi:home-outline"></iconify-icon>
        </a>
        <button class="navbar-toggler" type="button">
          <iconify-icon icon="tabler:menu-2"></iconify-icon>
        </button>
        <div class="navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">
                <iconify-icon icon="mdi:home-outline"></iconify-icon> Etusivu
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/mittaustulokset">
                <iconify-icon icon="mdi:chart-line"></iconify-icon> Mittaustulokset
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/viestit">
                <iconify-icon icon="tabler:messages"></iconify-icon> Viestit
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profiili">
                <iconify-icon icon="iconoir:profile-circle"></iconify-icon> Profiili
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/faq">
                <iconify-icon icon="streamline:interface-help-question-circle-circle-faq-frame-help-info-mark-more-query-question"></iconify-icon> FAQ
              </a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#">
                <iconify-icon icon="line-md:light-dark-loop"></iconify-icon> Teemat
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item theme-toggler" data-theme="light" href="#">Vaalea</a>
                <a class="dropdown-item theme-toggler" data-theme="dark" href="#">Tumma</a>
                <a class="dropdown-item theme-toggler" data-theme="solar" href="#">Solar</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">
                <iconify-icon icon="iconoir:logout"></iconify-icon> Kirjaudu ulos
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/5en5YPeu4lr0K/7W3sJzjw+UVij/iKr </script>
    <script src="https://cdn.jsdelivr.net/npm/bxslider@4.2.15/dist/jquery.bxslider.min.js" </script>
   <script src="/js/dark-mode.js"></script>
   <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
  </body>

