<header class="header fixed-top">
  <nav class="nav container">
    <a href="/" class="nav__logo">Balanssi</a>
    <a href="/auth/loginH" class="nav__link btn btn-primary ms-auto">Hoitajan kirjautuminen</a>
  </nav>
</header>
