
  <head>
    <title>Balanssi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css">
    <link rel="stylesheet" href="/css/nav.css?v=1.11">
    <link id="stylesheet" rel="stylesheet" href="/css/index.css">
</head>

  <body>

    <header class="header" id="header">
  <nav class="nav container">
    <a href="/" class="nav__logo">Balanssi</a>
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
         <li class="nav__item homeH">
        <a href="/" class="nav__link">
          <i class='bx bx-home-alt nav__icon'></i>
          <span class="nav__name">Etusivu</span>
        </a>
         </li>
        <li class="nav__item potilaslista">
          <a href="/potilaslista" class="nav__link">
            <i class='bx bx-list-ul nav__icon'></i>
            <span class="nav__name">Potilaslista</span>
          </a>
        </li>
        <li class="nav__item messages">
          <a href="/viestitH" class="nav__link">
            <i class='bx bx-message-square-detail nav__icon'></i>
            <span class="nav__name">Viestit</span>
          </a>
        </li>
        <li class="nav__item">
          <a href="/faqH" class="nav__link">
            <span class="question-icon">?</span>
            <span class="nav__name">FAQ</span>
          </a>
        </li>
        <a href="/auth/logout" class="nav__link button_logout">Kirjaudu ulos</a>

        <div class="nav__item has-dropdown">
          <a href="#">
            <i class='bx bxs-moon nav__icon'></i>
          </a>
          <ul class="dropdown">
            <li class="dropdown-item">
              <a id="lightButton" href="#">Vaalea</a>
            </li>
            <li class="dropdown-item">
              <a id="darkButton" href="#">Tumma</a>
            </li>
            <li class="dropdown-item">
              <a id="solarButton" href="#">Värikäs</a>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  </nav>
</header>



  