 <header class="header" id="header">
        <nav class="nav container">
            <a href="/" class="nav__logo">Balanssi</a> 
            <a href="/auth/loginH" class="nav__link button_logout">Hoitajan kirjautuminen</a>
          
        </nav>
</header>