<header class="header fixed-top">
  <nav class="navcontainer">
    <div id="loginLogo">
        <a href="/" class="nav__logo">Balanssi</a>
        <img src="/kuvat/blood-drop64B.png" class="nav__logo" height="30px" width="30px" alt="Balanssi-logo">
        </div>
    <a href="/auth/loginH" class="nav__link btn btn-primary ms-auto">Hoitajan kirjautuminen</a>
  </nav>
</header>
