      <header class="header" id="header">
        <nav class="nav container">
            <a href="/" class="nav__logo">Balanssi</a> 

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="/stories/add" class="nav__link ">
                            <i class='bx bx-home-alt nav__icon'></i>
                            <span class="nav__name">Add stories</span>
                        </a>
                    </li>
                    
                    <li class="nav__item">
                        <a href="/stories" class="nav__link active-link">
                            <i class='bx bx-briefcase-alt nav__icon'></i>
                            <span class="nav__name">Stories</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/mittaustulokset" class="nav__link">
                            <i class='bx bx-book-alt nav__icon'></i>
                            <span class="nav__name">Mittaustulokset</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/viestit" class="nav__link">
                            <i class='bx bx-message-square-detail nav__icon'></i>
                            <span class="nav__name">Viestit</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/profiili" class="nav__link">
                            <i class='bx bx-user nav__icon'></i>
                            <span class="nav__name">Profiili</span>
                        </a>
                    </li>

                    <li class="nav__item">
                        <a href="/faq" class="nav__link">
                            <i class='bx bx-user nav__icon'></i>
                            <span class="nav__name">?</span>
                        </a>
                    </li>
                    <li class="nav__item"><a href="/" class="nav__link button_logout">Kirjaudu ulos</a></li>
                </ul>
                </nav>
        <div class="nav__item has-dropdown">
          <a href="#">
            <i class='bx bxs-moon nav__icon'></i>
          </a>
          <ul class="dropdown">
            <li class="dropdown-item">
              <a id="lightButton" href="#">Vaalea</a>
            </li>
            <li class="dropdown-item">
              <a id="darkButton" href="#">Tumma</a>
            </li>
            <li class="dropdown-item">
              <a id="solarButton" href="#">Värikäs</a>
            </li>
        </ul>
      </div>
      
    </div>
</header>