
  <head>
    <title>Balanssi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.css">
    <link id="stylesheet" rel="stylesheet" href="/css/index.css">
</head>

<body>
    <header class="header" id="header">
      <nav class="navcontainer">
        <div id="logo">
        <a href="/" class="nav__logo">Balanssi</a>
        <img src="/kuvat/blood-drop64B.png" class="nav__logo" height="30px" width="30px" alt="Balanssi-logo">
        </div>
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item home">
              <a href="/" class="nav__link">
                <i class='bx bx-home-alt nav__icon'></i>
                <span class="nav__name">Etusivu</span>
              </a>
            </li>
            {{!-- <li class="nav__item stories">
              <a href="/stories/add" class="nav__link">
                <i class='bx bx-briefcase-alt nav__icon'></i>
                <span class="nav__name">Päiväkirja</span>
              </a>
            </li> --}}
            <li class="nav__item results">
              <a href="/mittaustulokset" class="nav__link">
                <i class='bx bx-book-alt nav__icon'></i>
                <span class="nav__name">Päiväkirja</span>
              </a>
            </li>
            <li class="nav__item messages">
              <a href="/viestit" class="nav__link">
                <i class='bx bx-message-square-detail nav__icon'></i>
                <span class="nav__name">Viestit</span>
              </a>
            </li>
            <li class="nav__item profile">
              <a href="/profiili" class="nav__link">
                <i class='bx bx-user nav__icon'></i>
                <span class="nav__name">Profiili</span>
              </a>
            </li>
            <li class="nav__item">
                        <a href="/faq" class="nav__link">
                            <i class='bx bx-question-mark nav__icon'></i>
                            <span class="nav__name">Ohjeet</span>
                        </a>
                    </li>
          </ul>
        </div>
        <a href="/auth/logout" class="nav__link button_logout">Kirjaudu ulos</a>
            <div class="nav__item has-dropdown">
            
        <a href="#">
          <i class='bx bxs-moon nav__icon'></i>
        </a>
        <ul class="dropdown">
          <li class="dropdown-item">
            <a id="lightButton" href="#">Vaalea</a>
          </li>
          <li class="dropdown-item">
            <a id="darkButton" href="#">Tumma</a>
          </li>
          <li class="dropdown-item">
            <a id="solarButton" href="#">Värikäs</a>
          </li>
        </ul>
      </div>
        
      </nav>
    </header>


  

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/5en5YPeu4lr0K/7W3sJzjw+UVij/iKrL8XudKc" crossorigin="anonymous"></script>
      
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bxslider@4.2.15/dist/jquery.bxslider.min.js"
    ></script>
   <script src="/js/dark-mode.js"></script>
  </body>

