<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>UKK</title>
  </head>
  <body>

    <div class="rowF">
    <h2>Usein kysytyt kysymykset</h2>
<h3>Mistä tämä verkkosivusto kertoo?</h3>
<p>Tämä verkkosivusto on suunniteltu auttamaan diabetespotilaita seuraamaan verensokeritasojaan, sydämmen sykevälivaihtelua ja muita terveystietojaan.</p>
<h3>Miten käytän tätä verkkosivustoa?</h3>
<p>Kun olet luonut tilin, voit kirjata verensokerimittauksesi ja muita terveystietojasi.<br> Voit sitten tarkastella mittauksiasi ajan myötä seurataksesi edistymistäsi ja nähdäksesi, miten diabeteshoidon hallintasi sujuu. <br> Parantaaksesi sovelluksen käyttökokemusta, voit ladata sen puhelimesi kotinäyttöön,<br> <a href="/sovellus">Katso ohjeet sovelluksen lataamiselle.</a></p>
<h3>Onko henkilökohtainen tietoni turvassa?</h3>
<p>Kyllä, otamme henkilökohtaisen tietosi turvallisuuden erittäin vakavasti.<br> Käytämme alan standardien mukaisia turvatoimenpiteitä suojellaksemme tietojasi, emmekä koskaan jaa tietojasi kolmansille osapuolille ilman suostumustasi.</p>
<h3>Voinko jakaa tietoni lääkärini kanssa?</h3>
<p>Kyllä, voit helposti tulostaa raportin mittauksistasi ja jakaa sen lääkärisi kanssa tai antaa lääkärillesi pääsyn tiliisi, jotta he voivat tarkastella mittauksiasi verkossa.</p>
<h3>Mitä teen, jos minulla on kysyttävää tai tarvitsen apua verkkosivuston käytössä?</h3>
<p>Jos sinulla on kysymyksiä tai tarvitset apua verkkosivuston käytössä, voit ottaa yhteyttä asiakastukitiimiimme osoitteessa support@diabetesmanager.com. Autamme mielellämme!</p>
</div>
{{!-- <div class="infolinkit">
<h2>Hyödyllisiä linkkejä</h2>
<h3>Yleistä tietoa insuliininpuutosdiabeteksesta </h3>
<a href="https://www.kaypahoito.fi/hoi50116"></a>
<h3>Ruokavalio tyypin 1 diabeteksessa</h3>
<a href="https://www.terveyskyla.fi/diabetestalo/diabeteksen-omahoito/diabetes-ja-sy%C3%B6minen/ruokavalio-tyypin-1-diabeteksessa"></a>
<h3>Liikunta ja diabetes</h3>
<a href="https://www.diabetes.fi/terveydeksi/liikunta#fecdc40e"></a>
<h3>HRV</h3>
<a href="https://pubmed.ncbi.nlm.nih.gov/24095141/"></a>
<h3>YTHS</h3>
<a href="https://www.yths.fi/"></a>
</div> --}}
<div class="footer">
    <p>
    Hyödyllisiä linkkejä:
    <a href="https://www.kaypahoito.fi/hoi50116"> Yleistä tietoa DIABETES</a> | 
    <a href="https://pubmed.ncbi.nlm.nih.gov/24095141/">HRV</a> | 
    <a href="https://www.yths.fi/">YTHS</a> | © 2023 Balanssi Oy. Kaikki oikeudet pidätetään. 
    <a href="/kayttoehdot">Käyttöehdot</a> | 
    <a href="/tietosuojakaytanto">Tietosuojakäytäntö</a> | 
    <a href="/evasteidenkaytto">Evästeiden käyttö</a>
  </p>
  </div>


  </body>

</html>
