
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>HRV Chart</title>
</head>

<body>
    <div class="rowHrv">
    <h5>HRV ja verensokeri</h5>
    <form class="col 12">
      <div id = "check">
      <div id="hrvCheck">
      <input type="checkbox" id="readinessCheckbox" checked>
       <label class="chartCheck" for="readinessCheckbox">Readiness</label>
      </div>
      <div>
      <input type="checkbox" id="lfHfCheckbox">
      <label class="chartCheck" for="lfHfCheckbox">LF/HF</label>
      </div>
      <div>
        <input type="checkbox" id="bloodSugarCheckbox">
        <label class="chartCheck" for="bloodSugarCheckbox">Verensokeri</label>
      </div>
      </div>
      <canvas id="hrvChart" height="350vh"></div>
    </form>
    </div>

  
</body>

</html>