
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>HRV Chart</title>
</head>

<body>
  <div class="row">
    HRV
    <form class="col 12">
      <div id="hrvCheck">
      <input type="checkbox" id="readinessCheckbox" checked>
       <label for="readinessCheckbox">Readiness</label>
      </div>
      <div>
      <input type="checkbox" id="lfHfCheckbox">
      <label for="lfHfCheckbox">LF/HF</label>
      </div>
      <div>
        <input type="checkbox" id="bloodSugarCheckbox" checked>
        <label for="bloodSugarCheckbox">Verensokeri</label>
      </div>
      <canvas id="hrvChart"></div>
    </form>
  </div>
  
</body>

</html>