<!DOCTYPE html>
<html>
<head>
  <title>Loading Page</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/loader.css">
  <style>
    
   
  </style>
</head>
<body>
    <div class="loader"></div>
    <div class="loader"></div>
    <div class="loader"></div>

  <script>
    setTimeout(function(){
      window.location.href = "/etusivu";
    }, 2500);
  </script>
</body>
</html>
