  <body>
    <form>
      <label for="username">Käyttäjänimi:</label>
      <input type="text" id="username" name="username" placeholder="Anna uusi käyttäjänimi" required><br><br>
      
      <label for="email">Sähköposti:</label>
      <input type="email" id="email" name="email" placeholder="Anna uusi sähköpostiosoite" required><br><br>
  
      <label for="password">Salasana:</label>
      <input type="password" id="password" name="password" placeholder="Anna uusi salasana" required><br><br>
  
      <label for="confirm-password">Vahvista salasana:</label>
      <input type="password" id="confirm-password" name="confirm-password" placeholder="Vahvista uusi salasana" required>
    <label for="bio">Bio:</label>
      <textarea id="bio" name="bio" rows="4"></textarea>
        <button type="submit">Tallenna muutokset</button>
    </form>
  </body>