<div class="row">
    <h3>Lisää verensokeri</h3>
    <form action="/stories" method="POST" class="col s12">
       
            <div class="input-group">
                <input type="number" id="title" name="title" min="0" step="any">
                <label for="title">mmol/l</label>
            </div>
        
            <div class="input-group">
                <h5> Lisää kommentti:</h5>
                <label>
                <input type="text" id="body" name="body"></input>
                </label>
            </div>

            <div class="input-group">
                <h5>Tuntemus:</h5>
                <label>
                    <input type="radio" name="feeling" value=":(">
                    <span>:( (huono)</span>
                </label>
                <label>
                    <input type="radio" name="feeling" value=":/">
                    <span>:/ (keskinkertainen)</span>
                </label>
                <label>
                    <input type="radio" name="feeling" value=":)">
                    <span>:) (hyvä)</span>
                </label>
            </div>

            <div class="input-group">
                <h5>Päivän ravinto:</h5>
                <label>
                    <input type="text" id="nutrition" name="nutrition">
                </label>
            </div>

            <div class="input-group">
                <h5>Päivän liikuntasuoritus:</h5>
                <label>
                    <input type="text" id="exercise" name="exercise">
                </label>
            </div>

        <div>
            <input type="submit" value="Save" class="btn">
            <a href="/mittaustulokset" class="btn orange">Cancel</a>
        </div>
    </form>
</div>
