{{!-- views/mittaustulokset.handlebars --}}

<div class="row">
    <h3>Lisää merkinnät</h3>
    <form action="/stories" method="POST" class="col s12">
       
         <div class="input-group">
            <H5><span style='font-size:40px;'>&#128680;</span>LISÄÄ VERENSOKERIARVO</H5>
            <label>
         <input type="number" id="mmolPerL" name="mmolPerL" min="0" step="any">
         <label for="mmolPerL">mmol/L</label>
         </label>
        </div>


        <div class="input-group">
            <h5>PÄIVÄN FIILIS</h5>
            <label>
                <input type="radio" name="feeling" value=":(">
                <span style='font-size:50px;'>&#128542;</span>
            </label>
            <label>
                <input type="radio" name="feeling" value=":/">
                <span style='font-size:50px;'>&#128524;</span>
            </label>
            <label>
                <input type="radio" name="feeling" value=":)">
                <span style='font-size:50px;'>&#128512;</span>
            </label>
        </div>

        <div class="input-group">
            <h5> <span style='font-size:40px;'>&#127821;</span>LISÄÄ PÄIVÄN HIILIHYDRAATTI MÄÄRÄT:</h5>
            <label>
                <input type="number" id="GHH" name="GHH" min="0" step="any">
                <label for="title">g HH</label>
            </label>
        </div>

        <div class="input-group">
            <h5> <span style="font-size: 40PX;">&#128692;</span>LISÄÄ PÄIVÄN LIIKUNTASUORITUS:</h5>
            <label>
                <input type="radio" name="sport" value="Pieni">
                <span>Pieni</span>
            </label>
            <label>
                <input type="radio" name="sport" value="Kohtalainen">
                <span>Kohtalainen</span>
            </label>
            <label>
                <input type="radio" name="sport" value=":Suuri">
                <span>Suuri</span>
            </label>
            <label>
                 <input type="number" id="sportDuration" name="sportDuration" min="0" step="any">
                <label for="title">Minuuttia</label>
            </label>
        </div>

        <div class="input-group">
            <h5>Lisää kommentti:</h5>
            <label>
                <input type="text" id="body" name="body">
            </label>
        </div>

        <div>
            <input type="submit" value="Save" class="btn">
            <a href="/mittaustulokset" class="btn orange">Cancel</a>
        </div>
    </form>
</div>


