{{!-- views/mittaustulokset.handlebars --}}

<div class="row">
    {{!-- <h3>Lisää merkinnät</h3> --}}
    <form action="/stories" method="POST" class="col s12">
       
          <div class="input-group">
            <h5>Lisää verensokeriarvo:</h5>
            <label>
                <input type="number" id="mmolPerL" name="mmolPerL" min="0" step="any">
                <label for="mmolPerL">mmol/L</label>
            </label>
        </div>


        <div class="input-group">
            <h5>Päivän fiilis:</h5>
            <label>
                <input type="radio" name="feeling" value="Huono">
                <span>Huono</span>
            </label>
            <label>
                <input type="radio" name="feeling" value="Keskiverto">
                <span>Keskiverto</span>
            </label>
            <label>
                <input type="radio" name="feeling" value="Hyvä">
                <span>Hyvä</span>
            </label>
        </div>

        <div class="input-group">
            <h5>Lisää päivän hiilihydraattimäärät:</h5>
            <label>
                <input type="number" id="GHH" name="GHH" min="0" step="any">
                <label for="title">g HH</label>
            </label>
        </div>

        <div class="input-group">
            <h5>Lisää päivän liikuntasuoritus:</h5>
            <label>
                <input type="radio" name="sport" value="Pieni">
                <span>Pieni</span>
            </label>
            <label>
                <input type="radio" name="sport" value="Kohtalainen">
                <span>Kohtalainen</span>
            </label>
            <label>
                <input type="radio" name="sport" value="Suuri">
                <span>Suuri</span>
            </label>
            <label>
                 <input type="number" id="sportDuration" name="sportDuration" min="0" step="any">
                <label for="title">Minuuttia</label>
            </label>
        </div>

        <div class="input-group">
            <h5>Lisää kommentti:</h5>
            <label>
                <input type="text" id="body" name="body">
            </label>
        </div>

        <div>
            <input type="submit" value="Tallenna" class="btn">
            <a href="/mittaustulokset" class="btn orange">Peruuta</a>
        </div>
    </form>
</div>


