<div class="row">
    <h3>Lis채채 verensokeri</h3>
    <form action="/stories" method="POST" class="col s12">
       
            <div class="input-group">
                <input type="number" id="title" name="title" min="0" step="any">
                <label for="title">mmol/l</label>
            </div>
        
            <div class="input-group">
                <h5> Lis채채 kommentti:</h5>
                <label>
                <input type="text" id="body" name="body"></input>
                </label>
            </div>

        <div>
            <input type="submit" value="Save" class="btn">
            <a href="/mittaustulokset" class="btn orange">Cancel</a>
        </div>
    </form>
</div>