<body>
    <div class="msg"></body>
    <h3>Lähetä viesti</h3>
    <form class="col s12">
      <div class="input-group">
        <label for="recipient">Vastaanottaja:</label>
        <input type="text" id="recipient" name="recipient" required>
      </div>
      <div class="input-group">
        <label for="subject">Aihe:</label>
        <input type="text" id="subject" name="subject" required>
      </div>
      <div class="input-group">
        <label for="message">Viesti:</label>
        <input type="text" id="message" name="message" rows="4"></textarea>
      </div>
      <div class="input-group">
        <label for="attachment">Lisää kuva:</label>
        <input type="file" id="attachment" name="attachment">

      <button type="submit">Lähetä viesti</button>
    </form>
    </div>
</body>