<div class="wrapper">
  <div class="element element-heading">
    <h2 class="welcome-heading">Tervetuloa Balanssiin {{user.nimi}}</h2>
    {{>verensokeriAdd}}
  </div>
  <div class="element">
    {{>chart}}
    {{!-- {{>verensokeriarvot}} --}}
  </div>
</div>
