<!DOCTYPE html>
<html>
<head>
  <title>Tervetuloa Hoitaja</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
</head>
<body>
  <div class="container">
    <h2 class="mt-3 mb-3">Tervetuloa Hoitaja</h2>
  <div class="row">
  <form class="col-12">
    <div class="form-group">
      <label for="patient-notes">Omat merkinnät</label>
      <textarea class="form-control" id="patient-notes" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Tallenna</button>
  </form>
</div>

<div id="calendar"></div>
 </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
  <script> src="/js/calendar.js"</script>
  <script>
    $(document).ready(function() {
      $('#calendar').fullCalendar({
        defaultView: 'month'
      });
    });
  </script>
</body>
</html>