
  <title>Balanssi</title>
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> --}}
</head>
<body style="display: flex; flex-direction: column; min-height: 100vh;">

  <h2 class="text-center">Tervetuloa Balanssiin <br> {{user.nimi}}</h2>

  <div class="containerE" style="flex: 1;">
    {{>verensokeriAdd}}
      {{>hrvChart}}
  </div>
  </div>
  <div class="footer" style="border-top-style: solid;top: 900px";>
    <p>
    © 2023 Balanssi Oy. Kaikki oikeudet pidätetään. 
    Hyödyllisiä linkkejä:
     <a href="https://www.kaypahoito.fi/hoi50116" target="_blank">Yleistä tietoa DIABETES</a> | 
    <a href="https://pubmed.ncbi.nlm.nih.gov/24095141/" target="_blank">HRV</a> | 
    <a href="https://www.yths.fi/" target="_blank">YTHS</a> |
    <a href="/tietosuojakaytanto">Tietosuojakäytäntö</a> | 
    <a href="/evasteidenkaytto">Evästeiden käyttö</a>
  </p>
  </div>

  <style>

    
    /* stack elements vertically on screens smaller than 768px */
    @media (max-width: 768px) {

      .row {
        flex-direction: column;
      }
      .footer {
        display: none;
      }
    }
  </style>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
