<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Balanssi</title>
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> --}}
</head>
<body>

  <h2 class="text-center">Tervetuloa Balanssiin {{user.nimi}}</h2>

  <div class="containerE">
    {{>verensokeriAdd}}
      {{>chart}}
    </div>
    <div class="footer">
    <p>
    © 2023 Balanssi Oy. Kaikki oikeudet pidätetään. 
    <a href="/kayttoehdot">Käyttöehdot</a> | 
    <a href="/tietosuojakaytanto">Tietosuojakäytäntö</a> | 
    <a href="/evasteidenkaytto">Evästeiden käyttö</a>
  </p>
  </div>
</body>
  <style>
    /* stack elements vertically on screens smaller than 768px */
    @media (max-width: 768px) {

      .row {
        flex-direction: column;
      }
      .footer {
        display: none;
      }
    }
  </style>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
