
<h2>Tervetuloa Hoitaja</h2>

<div class="containerE">
{{>verensokeriAdd}}

<div class="row">
<form class="col 12">HRV Graafi</form>
</div>

<div class="row">
<form class="col 12">Potilaan merkinnät</form>
</div>

</div>
