<div class="wrapper">
  <div class="element">
    <h2>Tervetuloa Balanssiin {{user.nimi}}</h2>
    {{>verensokeriAdd}}
  </div>
  <div class="element">
    {{>chart}}
    {{!-- {{>verensokeriarvot}} --}}
  </div>
</div>

<style>
  .wrapper {
    display: flex;
  }

  .element {
    display: inline-block;
    width: 50%;
    padding: 0 10px;
  }
</style>
