

<h1>Evästeiden käyttö</h1>
<p>Tämä sivusto käyttää evästeitä parantaakseen käyttökokemustasi ja tarjotakseen sinulle relevantimpaa sisältöä. Eväste on pieni tekstitiedosto, jonka selain tallentaa käyttäjän laitteelle, kun käyttäjä vierailee verkkosivustolla. 
</p> <p> Sivuston käyttäjänä annat suostumuksesi evästeiden käytölle. Voit halutessasi estää evästeiden käytön muuttamalla selaimen asetuksia, mutta tämä saattaa vaikuttaa sivuston toimivuuteen.</p>