
<div class="rowF">
<h2>Evästeiden käyttö</h2>
<p>Tämä sivusto käyttää evästeitä parantaakseen käyttökokemustasi ja tarjotakseen sinulle relevantimpaa sisältöä. Eväste on pieni tekstitiedosto, jonka selain tallentaa käyttäjän laitteelle, kun käyttäjä vierailee verkkosivustolla. 
</p> <p> Sivuston käyttäjänä annat suostumuksesi evästeiden käytölle. Voit halutessasi estää evästeiden käytön muuttamalla selaimen asetuksia, mutta tämä saattaa vaikuttaa sivuston toimivuuteen.</p>
</div>
<div class="footer1" style="border-top-style: solid;top: 900px";>
    <p>
    © 2023 Balanssi Oy. Kaikki oikeudet pidätetään. 
    Hyödyllisiä linkkejä:
    <a href="https://www.kaypahoito.fi/hoi50116"> Yleistä tietoa DIABETES</a> | 
    <a href="https://pubmed.ncbi.nlm.nih.gov/24095141/">HRV</a> | 
    <a href="https://www.yths.fi/">YTHS</a> | 
    <a href="/kayttoehdot">Käyttöehdot</a> | 
    <a href="/tietosuojakaytanto">Tietosuojakäytäntö</a> | 
    <a href="/evasteidenkaytto">Evästeiden käyttö</a>
  </p>
  </div>