
<h1>Käyttöehdot</h1>
<p>Tämä sivusto on tarkoitettu käytettäväksi henkilökohtaiseen terveyden seurantaan. Sivusto tarjoaa käyttäjälle mahdollisuuden tallentaa omia terveystietojaan ja seurata terveydentilaansa. Käyttäjä vastaa itse tallentamiensa tietojen oikeellisuudesta.</p>
<p>Sivuston ylläpitäjä ei vastaa käyttäjän tallentamien tietojen oikeellisuudesta eikä anna terveyteen liittyviä suosituksia tai neuvoja. Sivuston tietoja ei tule käyttää korvaamaan ammattilaisen antamia terveysneuvoja tai lääkärin antamia ohjeita.</p>
<p>Käyttäjä vastaa omasta tietokoneestaan ja verkkoyhteydestään sivuston käytön yhteydessä. Sivuston ylläpitäjä ei vastaa teknisistä ongelmista tai vahingoista, jotka johtuvat sivuston käytöstä.</p>
<p>Sivuston ylläpitäjä pidättää oikeuden muokata sivuston käyttöehtoja ja tietosuojakäytäntöä ilman erillistä ilmoitusta. Käyttäjän tulee tarkastaa käyttöehdot ja tietosuojakäytäntö säännöllisesti ja noudattaa niitä.</p>

<div class="footer1" style="border-top-style: solid;top: 900px";>
    <p>
    © 2023 Balanssi Oy. Kaikki oikeudet pidätetään. 
    Hyödyllisiä linkkejä:
    <a href="https://www.kaypahoito.fi/hoi50116"> Yleistä tietoa DIABETES</a> | 
    <a href="https://pubmed.ncbi.nlm.nih.gov/24095141/">HRV</a> | 
    <a href="https://www.yths.fi/">YTHS</a> | 
    <a href="/kayttoehdot">Käyttöehdot</a> | 
    <a href="/tietosuojakaytanto">Tietosuojakäytäntö</a> | 
    <a href="/evasteidenkaytto">Evästeiden käyttö</a>
  </p>
  </div>
