<!-- potilaslista.hbs -->
{{#if patients}}
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Patient Name</th> <!-- Add class for text center -->
                    </tr>
                </thead>
                <tbody>
                  {{#each patients}}
                    {{#if nimi}} 
                      <tr>
                          <td class="text-center"> 
                            <a href="#" class="patient-name" data-patient-id="{{_id}}">{{nimi}}</a>
                          </td>
                      </tr>
                    {{/if}}
                  {{/each}}
                </tbody>
            </table>
            <div class="measurement-container"></div>
        </div>
    </div>
</div>
{{else}}
<p>Potilaita ei löydy</p>
{{/if}}


<script src="/js/patients.js"></script>