<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{{#if patients}}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <input type="text" id="searchBar" placeholder="Search for patient" />
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">Patient Name</th>
            </tr>
          </thead>
          <tbody>
            {{#each patients}}
            {{#if nimi}}
            <tr>
              <td class="text-center">
                <a href="#" class="patient-name" data-patient-id="{{_id}}">{{nimi}}</a>
              </td>
            </tr>
            {{/if}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
                        <th>Aika</th>
                        <th>mmol/l</th>
                        <th>Tuntemus</th>
                        <th>G HH</th>
                        <th>Liikunta</th>
                        <th>Kommentti</th>
                        <th>Toiminnot</th>
            </tr>
          </thead>
          <tbody id="measurementTable">
            <table class="table table-striped measurement-table"></table>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{else}}
<p>Potilaita ei löydy</p>
{{/if}}

<script id="stories-data" type="application/json">{{stories}}</script>

<script src="/js/patients.js"></script>
