
<div class="rowF">
    <h2>Lataa sovellus puhelimeesi</h2>
<h5>Android-laitteet</h5>
<ol>
  <li>Avaa sovelluksen URL-osoite Android-laitteen selaimessa (suositellaan käyttämään Google Chromea).</li>
  <li>Napauta selaimen oikeassa yläkulmassa olevaa kolmen pisteen valikkokuvaketta.</li>
  <li>Valitse avautuvasta valikosta "Lisää kotinäyttöön" tai "Asenna sovellus" (valikon nimi voi vaihdella selaimesta riippuen).</li>
  <li>Anna sovellukselle nimi, jos haluat muuttaa sitä, ja napauta sitten "Lisää" tai "Asenna".</li>
  <li>Sovelluksen kuvake lisätään nyt laitteesi kotinäyttöön. Voit avata sen napauttamalla kuvaketta.</li>
</ol>

<h5>iOS-laitteet (iPhone ja iPad)</h5>
<ol>
  <li>Avaa sovelluksen URL-osoite iOS-laitteen Safari-selaimessa.</li>
  <li>Napauta Safarin alaosassa olevaa Jaa-kuvaketta (neliö, josta tulee nuoli ylöspäin).</li>
  <li>Selaa Jaa-valikossa alaspäin ja napauta "Lisää kotinäyttöön" -vaihtoehtoa.</li>
  <li>Anna sovellukselle nimi, jos haluat muuttaa sitä, ja napauta sitten "Lisää".</li>
  <li>Sovelluksen kuvake lisätään nyt laitteesi kotinäyttöön. Voit avata sen napauttamalla kuvaketta.</li>
</ol>
</div>

 <div class="footer1" style="border-top-style: solid;top: 900px";>
    <p>
    © 2023 Balanssi Oy. Kaikki oikeudet pidätetään. 
    Hyödyllisiä linkkejä:
    <a href="https://www.kaypahoito.fi/hoi50116"> Yleistä tietoa DIABETES</a> | 
    <a href="https://pubmed.ncbi.nlm.nih.gov/24095141/">HRV</a> | 
    <a href="https://www.yths.fi/">YTHS</a> | 
    <a href="/kayttoehdot">Käyttöehdot</a> | 
    <a href="/tietosuojakaytanto">Tietosuojakäytäntö</a> | 
    <a href="/evasteidenkaytto">Evästeiden käyttö</a>
  </p>
  </div>