
<h1>Tietosuojakäytäntö</h1>
<p>Tämä tietosuojakäytäntö kuvaa, miten Balanssi-yritys käsittelee henkilötietoja, jotka se kerää verkkosivustonsa kautta. Tämä tietosuojakäytäntö ei koske tietoja, joita kerätään offline-tilassa tai muilla kuin verkkosivustojemme kautta.</p>
<p>Balanssi on sitoutunut suojaamaan yksityisyyttäsi ja henkilökohtaisia tietojasi. Keräämme, käytämme ja suojelemme henkilötietojasi vain sen mukaisesti kuin tässä tietosuojakäytännössä on kuvattu. Tämä tietosuojakäytäntö kertoo, miten Balanssi käyttää henkilötietojasi.</p>
<p>Käyttämällä Balanssin verkkosivustoa hyväksyt tämän tietosuojakäytännön ehdot. Jos et hyväksy näitä ehtoja, älä käytä verkkosivustoamme.</p>

   <div class="footer1" style="border-top-style: solid;top: 900px";>
    <p>
    © 2023 Balanssi Oy. Kaikki oikeudet pidätetään. 
    Hyödyllisiä linkkejä:
    <a href="https://www.kaypahoito.fi/hoi50116"> Yleistä tietoa DIABETES</a> | 
    <a href="https://pubmed.ncbi.nlm.nih.gov/24095141/">HRV</a> | 
    <a href="https://www.yths.fi/">YTHS</a> | 
    <a href="/kayttoehdot">Käyttöehdot</a> | 
    <a href="/tietosuojakaytanto">Tietosuojakäytäntö</a> | 
    <a href="/evasteidenkaytto">Evästeiden käyttö</a>
  </p>
  </div>