@import url(https://fonts.googleapis.com/css?family=Roboto:300);


header .header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

header a img {
  width: 134px;
  margin-top: 4px;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.login-page .form .login {
  margin-top: -31px;
  margin-bottom: 26px;
}

.form {
  position: relative;
  z-index: 1;
  background: #fff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#profileForm{
  align-content: center;
  flex-wrap: wrap;

}

/* input field container */
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

/* label */
.input-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* input field */
.input-group input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  }
  


.loader {
  border: 4px solid #f3f3f3; /* Grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  display: none; /* aluksi piilotettu */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: linear-gradient(#141e30, #243b55);
  background-image: linear-gradient(45deg, #328f8a, #08ac4b);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #fff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form .message {
  margin: 15px 0 0;
  color: #666;
  font-size: 12px;
}

.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.container_body {
  z-index: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: azure;
  justify-content: flex-start;
  align-items: center;
  height: 110%;
  padding-top: 5%;

}

.containerE{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;

}

.container_body h2{
  font-weight: bold;
  color: #333;
  text-shadow: 1px 1px 1px #ccc;
  padding: 0.5rem;
  border-radius: 7px;
  margin: 1.2em;
  display: block;
  justify-content: center;


  
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-items: stretch;
  margin-top: 20px;
}

form button {
  width: 20%;
  color: black;
  background-color: white;
  font-weight: 100;
  border: none;
  width: 100px;
  height: 30px;
  padding: 5px; 
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
  transition: background-color 0.3s linear;
  
}

form button:hover {                 
    background-color: #3498db;
    color:white;
}
form button:active {                
    background-color: #3498db;
    transform: translateY(4px);
    color: white; 
}    

#loginform{
  display: flex;
  flex-direction: row;
}

input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  border: none;
  background-color: #f2f2f2;
}
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  Width:100%;
  height: 90%;
  display: flex;
  align-content: space-around;
  
  
  
  
}

html {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

.labeL{
  color: black;
}

@media (max-width: 387px) {
  body {
  }
  .login-page {
    width: 95%;
  }
  .form {
    padding: 45px 15px;
  }
}

@media (max-width: 767px) {
  .container_body {
    width: 100%;
    height: 150%;
    margin-top: 0%;
    padding-top: 2%;
    align-items: center
  }
  .containerE{
    flex-direction: column;
  }
  .container_body h2{
    margin: 1em;
  }
  .row{
    width: 98%;
    margin:0.4em;
  }
  
}

/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  font-size: 1rem;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: bold;
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}

table.striped {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

table.striped th,
table.striped td {
  border: 1px solid #ddd;
  padding: 8px;
}

table.striped th {
  background-color: #f2f2f2;
  color: black;
}
