@import url(https://fonts.googleapis.com/css?family=Roboto:300);

:root {
  --gray0: #fbffd4;
  --gray1: #f7f8d0;
  --gray2: #b6f880;
  --gray3: #5ec72d;
  --gray4: #3ea565;
  --gray5: #005368;
  --gray6: #003d4c;
  --blue: #007bff;
  --purple: #6c757d;
  --yellow: #ffcc00;
  --solar1: #e0f5ff;
  --solar2: #90d4f7;
  --solar3: #5ec1ef;
  --solar4: #3e9fde;
  --solar5: #2883bd;
  --solar6: #1a759f;
  --solar7: #135c82;
  --solar8: #0e4966;
  --solar9: #092f49;
  --dark1: #404e5c;
  --black1: #202b33;
  --black2: #1a242b;
  --black3: #12181c;
  --green: #1aff1a;
}

  
  .light {
    --bg: var(--solar1);
    --bg-nav: linear-gradient(to right, var(--solar3), var(--solar8));
    --bg-dropdown: var(--solar2);
    --text: var(--solar6);
    --border-color: var(--solar9);
    --bg-solar: var(--solar4);
    --table-color: var (--solar5); 
    --text: #000000;
    --msg: #f7f8d0;
  }
  
  .dark {
    background: linear-gradient(#000000, #243b55);
    --bg-nav: linear-gradient(to right, #1aff1a, #b300b3);
    --bg-dropdown: #1c1c1c;
    --text: #fff;
    --border-color: #1aff1a;
    --bg-solar: #1aff1a;
    --table-color: #000;
    --msg: #000;
  }
  
    
  
  
    .solar {
      --bg: #f7df1e;
      --bg-nav: linear-gradient(to right, #f79f24, #f7df1e);
      --bg-dropdown: #f79f24;
      --text: #333333;
      --border-color: #ff2b2b;
      --bg-solar: #ff2b2b;
      --table-color: #ffd000;
      --msg: #ffd000;
    }
    
  
  body {
  background-color: var(--bg);
  font-family: "Roboto", sans-serif;
  min-height: 90%;
  display: flex;
  flex-direction: column;
  }
  
  .light header .header {
  background: var(--bg-nav);
  }
  
  .dark header .header {
  background: var(--bg-nav);
  }
  
  .solar header .header {
  background: var(--bg-nav);
  }

header .header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}
.light .form,
.dark .form,
.solar .form {
color: var(--text);
}



/* Updated solar color */
.solar .login-box button {
background-color: var(--bg-solar);
}

.light .form button:hover,
.light .form button:active,
.dark .form button:hover,
.dark .form button:active,
.solar .form button:hover,
.solar .form button:active {
background-color: var(--bg-solar);
color: #fff;
}

.dark h2 {
  color: #fff;
}
.solar h2 {
  color: #000000;
}

.dark .input-group label{
  color: #fff;
}
.solar .input-group label {
  color: #000000;
}



header a img {
  width: 134px;
  margin-top: 4px;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.login-page .form .login {
  margin-top: -31px;
  margin-bottom: 26px;
}

.form {
  position: relative;
  z-index: 1;
  background-color: var(--bg);
  max-width: 600px;
  width: 100%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2),
    0 5px 5px 0 rgba(0, 0, 0, 0.24);
}



.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input-group input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.loader {
  border: 4px solid #f3f3f3; /* Grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  display: none; /* initially hidden */
}

/* @keyframes

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: var(--bg-nav);
  width: 100%;
  border: 0;
  padding: 15px;
  color: var(--text);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3 ease;
  border-radius: 5px;
}

.form button:hover, .form button:active {
  background-color: var(--bg-solar);
}

.form .message {
  margin: 15px 0 0;
  color: var(--text);
  font-size: 12px;
  border: 2px solid var(--text);
}

.form .message a {
  color: var(--border-color);
  text-decoration: none;
}

.form .register-form {
  display: none;
}


.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}

.infolinkit a{
  color: red;

}

.container .info {
  margin: 50px auto;
  text-align: center;
}

.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: var(--text);
}

.container .info span {
  color: var(--text);
  font-size: 12px;
}

.container .info span a {
  color: var(--border-color);
  text-decoration: none;
}

.container .info span .fa {
  color: var(--text);
}


.container_body {
  z-index: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--bg);
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  padding-top: 2rem;
  flex-grow: 1;
}

.table-responsive {
  max-width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  border-right: 1px solid rgba(60, 60, 60, 0.33);
  border-left: 1px solid rgba(60, 60, 60, 0.33);
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-container {
  overflow-x: auto;
}

.row {  
  display: flex;
  flex-wrap: nowrap; 
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 50px;
  width: 100%; 
  overflow-x: auto; 
  align-items: center;
  justify-content: center;
  background-color: var(--table-color);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}


.rowP {  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; 
  margin-bottom: 50px;
  width: 100%;
  margin-right: 2em;
  overflow-x: auto; 
  align-items: center;
  align-items: center;
  justify-content: center;
  background-color: var(--table-color);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.rowHrv{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap; 
  margin-bottom: 50px;
  margin-left: 2em;
  width: 100%; 
  overflow-x: auto; 
  align-items: center;
  justify-content: center;
  background-color: var(--table-color);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.rowF{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  margin-bottom: 50px;
  max-width: 700px;
  width: 100%;
  overflow-x: auto; 
  align-items: center;
  align-items: center;
  justify-content: center;
  background-color: var(--table-color);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.rowF h2,
.rowF h3 {
  margin: 1em;
}

.rowF p{
  margin: 1em;
}

#hrvChart{
  width: 100%;
  height: 100%;
}

.rowMittaustulos{
  display: flex;
  flex-wrap: nowrap; 
  
  margin-bottom: 50px; 
  overflow-x: auto; 
  align-items: center;
  border: 1px solid #000;
  justify-content: center;
  box-shadow:0 4px;
  border-radius: 1.5%;
}

#check{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dark .row {
  display: flex;
  flex-wrap: nowrap;
  margin-right: -15px;
  margin-left: -15px;
  background-color: var(--table-color);
  color: #fff;
  
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-right: 1em;
  padding-left: 1em;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

/* index.css */

/* ... other styles ... */

/* h2 styling */
h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

/* h3 styling */
h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left;
  color: #333;
}


/* input-group styling */
.input-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  width: 100%;
  margin-bottom: 10px;
}

.input-group > input,
.input-group > select,
.input-group > textarea {
  flex: 1;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-group > input:focus,
.input-group > select:focus,
.input-group > textarea:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.login-box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  text-align: center;
  border-radius: 10px;
}

.login-box h2 {
  color: #333;
  font-weight: bold;
  margin-bottom: 30px;
}

.login-box input[type="email"],
.login-box input[type="password"] {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 30px;
  width: 100%;
}
input[type="submit"],
.btn {
  margin: 0.5rem;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.login-box button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.login-box button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin-bottom: 20px;
}

.uusi,
.message {
  font-size: 12px;
  color: #333;
}

.uusi a,
.message a {
  color: #333;
  text-decoration: none;
}

#logbottom {
  display: flex;
  justify-content: space-between;
}

/* ... other styles ... */

  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .login-page {
    width: 100%;
    padding: 5% 0 0;
  }
  .element {
    max-width: 100%;
    overflow-x: auto;
  }
  body {
    padding-bottom: 60px;
  }


@media screen and (th: 576px) {
  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .login-page {
    width: 100%;
    padding: 5% 0 0;
  }
  .element {
    max-width: 100%;
    overflow-x: auto;
  }
  body {
    padding-bottom: 60px;
  }
  .containerE {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: auto;
  }
  
}

* {
  box-sizing: border-box;
}


.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  width: 100%; 
  justify-content: space-between;
  align-items: center;
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1; /* changed */
  padding: 0 20px;
  box-sizing: border-box;
  max-width: 400px;
}




.element-heading {
  align-items: center;
  width: 100%;
}


.welcome-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}




.verensokeriAdd, .chart {
  width: 80%;
  box-sizing: border-box;
  margin: 0 10px;
  text-align: center;
}

.custom-col {
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.containerE {
  display: flex;
  width: 90%;
  margin: 5 10%;
}

.msg {
  background-color: var(--table-color);
  color: var(--text);
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid var(--text);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.messages-box {
  min-height: 200px;
  padding: 10px;
  border: 1px solid var(--text); 
  border-radius: 5px;
  overflow-y: auto;
}
.chartCheck{
  font-size: 16px;
}

.profile-form {
  margin: 20px auto;
  max-width: 500px;
  padding: 20px;
  background-color: var(--table-color);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
  }
  
  .profile-form h3 {
  margin: 0 0 20px;
  font-size: 28px;
  text-align: center;
  }
  
  .profile-form .input-group {
  margin: 20px 0;
  text-align: left;
  }
  
  .profile-form .input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 500;
  }
  
  .profile-form .input-group input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  }
  
  .profile-form .input-group input:focus {
  outline: none;
  border-color: #03e9f4;
  }
  
  .profile-form .tooltip {
  margin-left: 10px;
  display: inline-block;
  position: relative;
  }
  
  .profile-form .tooltip img {
  display: inline-block;
  width: 16px;
  height: 16px;
  }
  
  .profile-form .tooltip .tooltiptext {
  visibility: hidden;
  width: 250px;
  background-color: #03e9f4;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -125px;
  opacity: 0;
  transition: opacity 0.3s;
  }
  
  .profile-form .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  }

  .card{
    width: 100%;
  }

  
  .footer {
    background-color: var(--bg-nav);
    color: var(--text);
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
    padding-bottom: 0px;
    font-size: 1rem;
  }
  
  .footer p {
font-size: 1.2rem;
color: #888;
}

footer-logo {
  max-width: 150px; 
}

.text-center {
  text-align: center;
}

 
.content {
  padding-bottom: 50px; 
}


.measurementTable {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  min-height: 200px;
  overflow-x: auto;
  
}
.highlight {
  background-color: yellow;
}

.patient-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.patient-list div {
  text-align: center;
}

.light .message,
.dark .message,
.solar .message {
  color: var(--text);

}

.light .form .message a,
.dark .form .message a,
.solar .form .message a {
  color: var(--border-color);
}

.light .form .message button,
.dark .form .message button,
.solar .form .message button {
  background-color: var(--bg-nav);
  color: var(--text);
}

.light .form .message button:hover,
.light .form .message button:active,
.dark .form .message button:hover,
.dark .form .message button:active,
.solar .form .message button:hover,
.solar .form .message button:active {
  background-color: var(--bg-solar);
  color: #fff;
}

.container.mt-3 {
  background-color: var(--table-color);
  border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
}

#tableButtons {
  display: flex;
  flex-direction: row;
}


/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .containerE{
    flex-direction: column;
    width: 97%;
  }
  
  .element {
    padding: 10px;
  }
  .row{
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .rowHrv{
    margin: 0;
  }
  #hrvChart{
    height: 600px;
  }
  .table td {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  #tableButtons{
    flex-direction: column;
  }
  .btn-sm {
    width:  80%;
  }
  .table th{
    padding-left:0.25rem;
    padding-right: 0.25rem;
  }
  .table th:nth-child(3),
  .table td:nth-child(3)
   {
    display: none;
  }
  .table th:nth-child(6),
  .table td:nth-child(6)
   {
    display: none;
  }
  .col{
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .form-group {
    flex-direction: column;
  }
  .chartCheck{
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  .container_body{
    padding-top: 5rem;
  }
}

