:root {
    --height: 3rem;
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.4rem;
    
    background: linear-gradient(#141e30, #243b55);
  }
  
  .loader {
    height: var(--height);
    width: 14rem;
    border-radius: var(--height);
    position: relative;
    overflow: hidden;
  }
  
  .loader::after {
    content: '';
    position: absolute;
    width: 10rem;
    height: var(--height);
    border-radius: var(--height);
    background: white;
    box-shadow: 0 -0.6rem 0 rgba(220, 100, 160, 0.2) inset;
  
    animation: slide 4s ease-in-out infinite;
  }
  
  .loader:nth-child(2)::after{
    animation-delay: 0.2s;
  }
  
  .loader:nth-child(3)::after{
    animation-delay: 0.4s;
  }
  
  @keyframes slide {
    0% {
      left: -7rem;
    }
    
    
    50% {
      left: calc(100% - var(--height));
    }
    
    
    100% {
      left: -7rem;
    }
  }