@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
font-family: 'Open Sans', sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
width: 100%;
height: 100%;
background-color: #F5DEB3;
color: #1E1E1E;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin: 0;
padding: 0;
}

body.solar-mode {
background-color: #FFFFE0;
color: #1E1E1E;
}

body.solar-mode a {
color: #0077B6;
}

body.solar-mode .container_body,
body.solar-mode .login-container {
background-color: #FFEBCD;
}

body.solar-mode table,
body.solar-mode .striped {
background-color: #F8F8FF;
color: #1E1E1E;
}

body.solar-mode table.striped th {
background-color: #E0FFFF;
color: #1E1E1E;
}

body.solar-mode table.striped tr:nth-child(even) {
background-color: #F0FFF0;
}

body.solar-mode .row {
background-color: #F0E68C;
}

/* Rest of your CSS styles */