<!DOCTYPE html>
<html>
<head>
	<title>404 Not Found</title>
	<style>
		body {
			background-color: #f8f8f8;
			font-family: Arial, sans-serif;
			color: #444;
		}
		
		h1 {
			font-size: 3em;
			text-align: center;
			margin-top: 50px;
		}
		
		p {
			font-size: 1.5em;
			text-align: center;
			margin-top: 30px;
		}
		
		.btn {
			display: block;
			width: 200px;
			margin: 50px auto 0;
			padding: 10px;
			border-radius: 5px;
			background-color: #4CAF50;
			color: #fff;
			text-align: center;
			text-decoration: none;
			font-size: 1.2em;
			transition: background-color 0.3s ease;
		}
		
		.btn:hover {
			background-color: #2E8B57;
		}
	</style>
</head>
<body>
	<h1>404 Not Found</h1>
	<p>We're sorry, this resource is not found</p>
	<a href="/etusivu" class="btn">Go to Mittaustulokset</a>
</body>
</html>
